* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow-x: hidden;
}

#main-header {
  background-color: rgb(158, 104, 158);
  display: flex;
  align-items: center;
  height: 4.4rem;
  padding: 0.7rem;
  top: 0;
  left: 0;
  width: 100%;
  gap: 2rem;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#main-header form picture img {
  display: none;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(158, 104, 158);
  border: 1px solid black;
}

#main-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

#main-nav a {
  color: white;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  transition: color 0.3s;
}

#main-nav a:hover {
  color: crimson;
}

#Btn-menu {
  display: none;
  order: 2;
}

#Btn-menu button {
  display: none;
  font-size: 2.2rem;
  background-color: transparent;
  color: white;
  border: none;
}

#Btn-menu nav a {
  font-size: 1rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1rem;
  background-color: blueviolet;
  padding: 1rem;
  width: 5rem;
  color: white;
  transition: color 0.3s;
}

#Btn-menu nav a:hover {
  background-color: rgb(158, 104, 158);
}

#Btn-menu nav {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileMenuPopover {
  transform: translateX(100%);
  transition: transform 0.4s, overlay 0.4s ease-out;
  display: block;
  max-width: 400px;
  width: 15rem;
  inset: unset;
  right: 0;
  top: 0;
  height: 100%;
  background-color: rgb(95, 95, 95);
}

.mobileMenuPopover:popover-open {
  transform: translateX(0);
}

.mobileMenuPopover::backdrop {
  background-color: rgba(0, 0, 0, 0.15);
}

.login {
  width: 100%;
  max-width: 420px;
  background-color: rgb(255, 63, 101);
  border-radius: 10px;
  padding: 30px 40px;
}

.login h1 {
  font-size: 36px;
  text-align: center;
  color: white;
}

.login .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border: 2px solid black;
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}

.login .remember {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 0px 0 15px;
}

.remember label input {
  margin-right: 3px;
}

.remember a {
  color: black;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.1s;
}

.remember a:hover {
  text-decoration: underline;
}

.remember label {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.login .btn {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: black;
  font-weight: 600;
  transition: color 0.3ms;
}

.login .btn:hover {
  background-color: blueviolet;
}

.login .register {
  font-weight: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .login {
    width: 80%;
  }

  .login h1 {
    font-size: 60px;
  }

  .login .remember {
    font-size: 20px;
  }

  .input-box input {
    font-size: 28px;
  }

  .login .remember {
    font-size: 20px;
  }

  .login .btn {
    font-size: 30px;
  }

  .register p {
    font-size: 20px;
  }

  #main-header {
    width: 100%;
    justify-content: space-between;
  }

  #main-header a {
    display: none;
  }

  #main-header picture img {
    width: 8rem;
    height: 8rem;
  }

  #Btn-menu {
    display: flex;
    order: 2;
  }

  #Btn-menu button {
    display: flex;
  }

  #Btn-menu nav a {
    display: flex;
  }
}

@media (max-width: 700px) {
  .login {
    width: 90%;
  }

  .login h1 {
    font-size: 24px;
  }

  .input-box input {
    font-size: 16px;
  }

  .login .btn {
    font-size: 20px;
  }

  .register p {
    font-size: 16px;
  }
}
